
metalObjcPlay.xcodeproj/xcuserdata/
metalObjcPlay.xcodeproj/project.xcworkspace/xcuserdata/*.*
metalObjcPlay.xcodeproj/project.xcworkspace/xcuserdata/me-mac.xcuserdatad/UserInterfaceState.xcuserstate
